@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-slide {
    display: inline-block;
    white-space: nowrap;
    animation: slide 5s linear infinite;
}

